/* body {
	background-color: black;
} */

@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

@font-face {
	font-family: "spaceregular";
	src: url("../static/fontkit/space-lmx5-webfont.woff") format("woff2"),
		url("../static/fontkit/space-lmx5-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "wolf_100regular";
	src: url("../static/fontkit/wolf100regular-donkd-webfont.woff2")
			format("woff2"),
		url("../static/fontkit/wolf100regular-donkd-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "the_shape_of_thingsregular";
	src: url("../static/fontkit/theshapeofthings-z2e0-webfont.woff2")
			format("woff2"),
		url("../static/fontkit/theshapeofthings-z2e0-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "library_3_amregular";
	src: url("../static/fontkit/library3am-5v3z-webfont.woff2") format("woff2"),
		url("../static/fontkit/library3am-5v3z-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

#logo-text {
	font-family: "library_3_amregular", cursive;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.logo {
	font-size: 1.5em;
	padding: 0;
	/* color: #039be5; */
	/* color: white; */
}

.logos li {
	margin: 0px 15px;
}

/* .mainNav {
	background-color: #8ef5ec;
} */

.toggler {
	position: relative;
}

.sun,
.moon {
	font-size: 1.5rem;
	width: fit-content;
	height: fit-content;
}
.moon {
	position: absolute;
	inset: 0;
}
.moon-logo {
	opacity: 0;
	transform: translateY(20%) rotateZ(50deg);
	transition: all 1s ease-out;
}
.sun-logo {
	opacity: 1;
	transform: translateY(0) rotateZ(0deg);
	transition: all 1s ease-out;
}
.animate-sun {
	opacity: 0;
	transform: translateY(20%) rotateZ(100deg);
}
.animate-moon {
	opacity: 1;
	transform: translateY(0%) rotateZ(0deg);
}
.animate-moon path {
	fill: white;
}
.animate-sun path {
	fill: white;
}
