{% extends "index.html" %} {% block title %}AI Emails Writer{% endblock %} {%
block main %}

<div class="container-fluid">
	<div class="row">
		<nav
			id="sidebarMenu"
			class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
		>
			<div class="position-sticky pt-3 sidebar-sticky">
				<div class="list-group list-group-flush border-bottom scrollarea">
					<a
						href="#"
						class="list-group-item list-group-item-action active py-3 lh-sm"
						aria-current="true"
					>
						<div
							class="d-flex w-100 align-items-center justify-content-between"
						>
							<strong class="mb-1">List group item heading</strong>
							<small>Wed</small>
						</div>
						<div class="col-10 mb-1 small">
							Some placeholder content in a paragraph below the heading and
							date.
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
						<div
							class="d-flex w-100 align-items-center justify-content-between"
						>
							<strong class="mb-1">List group item heading</strong>
							<small class="text-muted">Tues</small>
						</div>
						<div class="col-10 mb-1 small">
							Some placeholder content in a paragraph below the heading and
							date.
						</div>
					</a>
				</div>
			</div>
		</nav>

		<d class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
			>
				<h1 class="h2">Ai Email Writer</h1>
			</div>
			<form method="POST">
				<textarea name="input" id="input" class="form-control"></textarea>
				<br />
				<div class="d-flex justify-content-around">
					<button type="submit" class="btn btn-primary">Generate email</button>
					<div
						class="btn-group"
						role="group"
						aria-label="Basic radio toggle button group"
					>
						<input
							type="radio"
							class="btn-check"
							name="style"
							value="professional"
							id="btnradio1"
							autocomplete="off"
							checked
						/>
						<label class="btn btn-outline-primary" for="btnradio1"
							>Professional</label
						>

						<input
							type="radio"
							class="btn-check"
							name="style"
							value="friendly"
							id="btnradio2"
							autocomplete="off"
						/>
						<label class="btn btn-outline-success" for="btnradio2"
							>Friendly</label
						>
					</div>
				</div>
			</form>
			<div class="container">
				{% if answer %}
				{{ answer|safe }}
				{% else %}
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
