{% extends "index.html" %} {% block title %}Static Company Scoring Tool{%
endblock %} {% block css %}<link
	href="../static/companyScore.css"
	rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %} {% block main %}
<h3 class="mb-3">Company Scoring Tool</h3>
<form id="comForm" action="" method="POST">
	<div class="tab">
		<div class="group">
			<h5>1- Is the Business Mission Critical:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="mission"
			>
				<input
					type="radio"
					class="btn-check"
					name="mission"
					id="missionoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="missionoption1"
					>Yes</label
				>

				<input
					type="radio"
					class="btn-check"
					name="mission"
					id="missionoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="missionoption2"
					>No</label
				>
			</div>
		</div>
		<div class="group">
			<h5>2- Region:</h5>
			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="region"
			>
				<input
					type="radio"
					class="btn-check"
					name="region"
					id="regionoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="regionoption1"
					>North America</label
				>

				<input
					type="radio"
					class="btn-check"
					name="region"
					id="regionoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="regionoption2"
					>Europe</label
				>

				<input
					type="radio"
					class="btn-check"
					name="region"
					id="regionoption3"
					autocomplete="off"
					value="3"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="regionoption3"
					>Australia</label
				>
			</div>
		</div>

		<div class="group">
			<h5>3- Pricing Power:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="power"
			>
				<input
					type="radio"
					class="btn-check"
					name="power"
					id="poweroption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="poweroption1"
					>Low</label
				>

				<input
					type="radio"
					class="btn-check"
					name="power"
					id="poweroption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="poweroption2"
					>Medium</label
				>

				<input
					type="radio"
					class="btn-check"
					name="power"
					id="poweroption3"
					autocomplete="off"
					value="3"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="poweroption3"
					>High</label
				>
			</div>
		</div>
	</div>
	<div class="tab">
		<div class="group">
			<h5>4- Asset Type:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="asset"
			>
				<input
					type="radio"
					class="btn-check"
					name="asset"
					id="assetoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="assetoption1"
					>Legacy</label
				>

				<input
					type="radio"
					class="btn-check"
					name="asset"
					id="assetoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="assetoption2"
					>Core</label
				>

				<input
					type="radio"
					class="btn-check"
					name="asset"
					id="assetoption3"
					autocomplete="off"
					value="3"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="assetoption3"
					>Growth</label
				>
			</div>
		</div>
		<div class="group">
			<h5>5- Customer Concentration:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="concent"
			>
				<input
					type="radio"
					class="btn-check"
					name="concent"
					id="concentoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="concentoption1"
					>Yes</label
				>

				<input
					type="radio"
					class="btn-check"
					name="concent"
					id="concentoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="concentoption2"
					>No</label
				>
			</div>
		</div>

		<div class="group">
			<h5>6- Current EBITDA%:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="EBITDA"
			>
				<input
					type="radio"
					class="btn-check"
					name="EBITDA"
					id="EBITDAoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="EBITDAoption1"
					>&lt;-10%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="EBITDA"
					id="EBITDAoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="EBITDAoption2"
					>-10% - 0%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="EBITDA"
					id="EBITDAoption3"
					autocomplete="off"
					value="3"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="EBITDAoption3"
					>0% - 10%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="EBITDA"
					id="EBITDAoption4"
					autocomplete="off"
					value="4"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="EBITDAoption4"
					>10%+</label
				>
			</div>
		</div>
	</div>

	<div class="tab">
		<div class="group">
			<h5>7- ARR% of TR:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="ARR"
			>
				<input
					type="radio"
					class="btn-check"
					name="ARR"
					id="ARRoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="ARRoption1"
					>&lt;50%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="ARR"
					id="ARRoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="ARRoption2"
					>50% - 60%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="ARR"
					id="ARRoption3"
					autocomplete="off"
					value="3"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="ARRoption3"
					>60% - 80%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="ARR"
					id="ARRoption4"
					autocomplete="off"
					value="4"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="ARRoption4"
					>80%+</label
				>
			</div>
		</div>

		<div class="group">
			<h5>8- PS% of TR:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="PS"
			>
				<input
					type="radio"
					class="btn-check"
					name="PS"
					id="PSoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="PSoption1"
					>&lt;25%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="PS"
					id="PSoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="PSoption2"
					>25% - 40%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="PS"
					id="PSoption3"
					autocomplete="off"
					value="3"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="PSoption3"
					>40%+</label
				>
			</div>
		</div>
		<div class="group">
			<h5>9- Gross Margins:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="gross"
			>
				<input
					type="radio"
					class="btn-check"
					name="gross"
					id="grossoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="grossoption1"
					>80%+</label
				>

				<input
					type="radio"
					class="btn-check"
					name="gross"
					id="grossoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="grossoption2"
					>&lt;70%</label
				>
			</div>
		</div>
	</div>

	<div class="tab">
		<div class="group">
			<h5>10- Churn:</h5>

			<div
				class="d-flex align-center justify-content-center mt-2 mb-4 question"
				name="question"
				id="churn"
			>
				<input
					type="radio"
					class="btn-check"
					name="churn"
					id="churnoption1"
					autocomplete="off"
					value="1"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="churnoption1"
					>0% - 5%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="churn"
					id="churnoption2"
					autocomplete="off"
					value="2"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="churnoption2"
					>5% - 10%</label
				>

				<input
					type="radio"
					class="btn-check"
					name="churn"
					id="churnoption3"
					autocomplete="off"
					value="3"
				/>
				<label
					class="btn btn-outline-primary m-2 btn-block quest"
					for="churnoption3"
					>10%+</label
				>
			</div>
		</div>
	</div>

	<div class="d-flex flex-wrap align-items-center justify-content-between">
		<div class="reset">
			<button
				type="button"
				class="btn btn-info btn-sm"
				onclick="reset(),nextPrev(-4),resetScore()"
			>
				Reset
			</button>
		</div>
		<div class="score" id="score">
			Score: <span id="totalScore">0</span><span> / 14</span>
		</div>
		<div class="btns">
			<button
				class="btn btn-secondary btn-sm"
				type="button"
				id="prevBtn"
				onclick="nextPrev(-1)"
			>
				Previous
			</button>
			<button
				class="btn btn-primary btn-sm"
				type="button"
				id="nextBtn"
				onclick="nextPrev(1)"
			>
				Next
			</button>
		</div>
	</div>
	<div class="mb-3" style="text-align: center; margin-top: 40px">
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
	</div>
</form>
<div class="message mt-4 mb-3" id="message"></div>
<div class="message mt-5 mx-auto" id="message2" style="width: 90%">
	<div class="accordion" id="accordionExample">
		<div class="accordion-item" id="missioninfo">
			<h2 class="accordion-header" id="headingOne">
				<button
					class="accordion-button collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseOne"
					aria-expanded="false"
					aria-controls="collapseOne"
				>
					Business Mission Critical &#9432;
				</button>
			</h2>
			<div
				id="collapseOne"
				class="accordion-collapse collapse"
				aria-labelledby="headingOne"
				data-bs-parent="#accordionExample"
			>
				<div class="accordion-body">
					<ul>
						<li>
							The software is essential to the customer’s business operations.
						</li>
						<li>
							Customers are dependant on the software, they cannot operate their
							business if the system is down.
						</li>
						<li>
							The software stores critical business data sych as financials, end
							customers data, booking information, historical data,etc.
						</li>
						<li>
							The software is not a middleware. The software holds the source of
							data.
						</li>
						<li>Implementation and switching time is longer than 60 days.</li>
						<li>The software has lots of integrations to 3rd party systems.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="d-none justify-content-evenly" id="chart-body">
	<div class="card border-light">
		<div class="card-body">
			<canvas class="" id="myChart"></canvas>
		</div>
	</div>
	<div>
		<ul class="list-group mt-2">
			<li class="list-group-item active" aria-current="true">Pros</li>
			<div id="pros"></div>
		</ul>
		<ul class="list-group mt-2">
			<li class="list-group-item active" aria-current="true">Cons</li>
			<div id="cons"></div>
		</ul>
	</div>
</div>
{% endblock %} {% block js %}
<script
	type="text/javascript"
	src="{{ url_for('static', filename='companyScore.js') }}"
></script>
<script>
	const popoverTriggerList = document.querySelectorAll(
		'[data-bs-toggle="popover"]'
	);
	const popoverList = [...popoverTriggerList].map(
		(popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
	);
</script>
{% endblock %}
