{% extends "index.html" %} {% block title %}Notes{% endblock %} {% block main %}
<h1 align="center">Notes</h1>
<form method="POST">
	<textarea name="note" id="note" class="form-control"></textarea>
	<br />
	<div align="center">
		<button type="submit" class="btn btn-primary">Add Note</button>
	</div>
</form>
{% for note in user.notes | sort(attribute='date', reverse = true) %}
<div class="card text-center my-3" id="notes">
	<div class="card-body">
		<p class="card-text text-start">{{ note.data }}</p>
		<button
			type="button"
			class="btn btn-danger btn-sm justify-content-sm-center"
			onClick="deleteNote({{ note.id }})"
		>
			Delete
		</button>
	</div>
	<div class="card-footer text-muted mb-2">{{ note.date }}</div>
</div>
{% endfor %} {% endblock %}
